[build-system]
requires      = ["setuptools>=61.0.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "fsrs"
version = "2.2.0"
description = "Free Spaced Repetition Scheduler"
readme = "README.md"
authors = [{ name = "Jarrett Ye", email = "jarrett.ye@outlook.com" }]
license = { file = "LICENSE" }
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
]
keywords = ["spaced-repetition", "flashcard"]
dependencies = []
requires-python = ">=3.9"

[project.urls]
Homepage = "https://github.com/open-spaced-repetition/py-fsrs"
