name: Test Python

on: [push, pull_request]

jobs:
    test_basic:

        runs-on: ubuntu-latest
        strategy:
          matrix:
            python-version: ["3.10", "3.11", "3.12", "3.13"]

        steps:
        - uses: actions/checkout@v4
    
        - name: Install uv Set up Python
          uses: astral-sh/setup-uv@v5
          with:
            enable-cache: true
            python-version: ${{ matrix.python-version }}

        - name: Display Python version
          run: python -V
        - name: Test with pytest
          run: uvx pytest tests/test_basic.py

    test_optimizer:

      runs-on: ubuntu-latest
      strategy:
        matrix:
          python-version: ["3.10", "3.11", "3.12", "3.13"]

      steps:
      - uses: actions/checkout@v4

      - name: Install uv Set up Python
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -V

      - name: Install dependencies
        run: |
          uv pip install -e ".[optimizer,dev]"
          pytest
